.nav {
  width: 100%;
  height: 10rem;
  position: absolute; }
  .nav-logo-img {
    width: 5%;
    height: 10rem; }
  .nav ul {
    position: absolute;
    top: 15%;
    left: 30%;
    text-align: center; }
  .nav ul li {
    float: left;
    list-style: none;
    margin-right: 2rem;
    padding: 1.5rem;
    transition: all .4s; }
    .nav ul li:hover {
      box-shadow: 1px 25px 15px 1px #757575;
      border-right: 1px solid #ff400f;
      border-top: none;
      transform: scale(1.09); }
  .nav ul li a {
    letter-spacing: .1rem;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    transition: all .4s; }
    .nav ul li a:hover {
      letter-spacing: 0;
      color: #ff400f; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc(2 *((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%;
  font-family: 'Yellowtail', cursive; }

.header {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative; }
  .header-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header-main-h1 {
      text-transform: uppercase;
      color: white;
      font-size: 5rem;
      margin-bottom: 2rem; }
    .header-main-h2 {
      text-transform: uppercase;
      color: white;
      font-size: 7rem;
      margin-bottom: 7rem; }
      .header-main-h2 span {
        color: #ff400f; }
    .header-main-btn {
      padding: 2rem 3rem;
      font-size: 2.5rem;
      color: white;
      text-decoration: none;
      background-color: inherit;
      border: 1px solid white;
      text-transform: capitalize;
      transition: all .5s; }
      .header-main-btn:hover {
        border-radius: 45px;
        box-shadow: 15px 20px 10px 5px grey;
        background-color: white;
        color: #ff400f; }
  .header-left-logo {
    float: right;
    font-size: 4rem;
    color: white;
    background-color: #ff400f;
    margin-right: 5rem;
    margin-top: -4.5rem;
    width: 8%;
    text-align: center; }
  .header .nav-heading {
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: 2rem; }
    .header .nav-heading .header-logo {
      color: #ff400f;
      margin-right: 1rem;
      font-size: 5rem; }
  .header-back {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    opacity: 0.4; }

.about {
  width: 100%;
  height: 120vh;
  background-color: white; }
  .about-right-h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-left: -10rem;
    margin-top: 8rem;
    font-size: 6rem;
    color: black;
    margin-bottom: 2rem; }
  .about-right-h2 {
    text-transform: uppercase;
    margin-left: -5rem;
    color: #ff400f;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .about-right-h3 {
    text-transform: capitalize;
    margin-left: -5rem;
    font-size: 3.5rem;
    color: black;
    margin-bottom: 2rem; }
  .about-right-h4 {
    text-transform: capitalize;
    margin-left: -5rem;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .about-right-h5 {
    margin-left: -5rem;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .about-right-p {
    margin-left: -5rem;
    font-size: 2rem;
    word-spacing: .5rem;
    margin-bottom: 2rem; }
  .about-img {
    margin-top: 8rem;
    width: 100%;
    height: 70vh;
    margin-left: -10rem; }
  .about-left-h1 {
    color: black;
    font-size: 5rem; }
  .about-left-h2 {
    font-weight: bold;
    color: #ff400f;
    font-size: 3rem; }
  .about-lower-h {
    text-align: center;
    border-right: 1px solid #ff400f;
    font-size: 3rem;
    color: #ff400f; }
  .about-lower-p {
    text-align: center;
    border-right: 1px solid #ff400f;
    color: black;
    font-size: 2rem; }
  .about-btn {
    padding: 2rem 3rem;
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    background-color: inherit;
    border: 1px solid grey;
    text-transform: capitalize;
    transition: all .5s; }
    .about-btn:hover {
      border-radius: 45px;
      box-shadow: 15px 20px 10px 5px #b9b9b9;
      background-color: white;
      color: #ff400f; }

.benefit {
  width: 100%;
  height: 70vh;
  background-color: white; }
  .benefit-heading {
    font-weight: lighter;
    word-spacing: 1rem;
    display: inline;
    text-transform: uppercase;
    margin-left: -6rem;
    font-size: 4rem;
    color: black;
    margin-bottom: 5rem;
    transition: all .4s; }
    .benefit-heading:hover {
      letter-spacing: 1rem; }
  .benefit-para {
    margin-top: 2rem;
    margin-left: -20rem;
    text-transform: capitalize;
    font-size: 2rem;
    color: #858585;
    text-align: center;
    margin-bottom: 4rem; }
  .benefit-img-1 {
    width: 73rem;
    margin-left: -20rem;
    height: 35vh; }
  .benefit-heading-right {
    font-weight: lighter;
    word-spacing: 1rem;
    text-transform: uppercase;
    margin-left: 16rem;
    font-size: 4rem;
    color: black;
    margin-bottom: 2rem;
    transition: all .4s;
    width: 100%; }
    .benefit-heading-right:hover {
      letter-spacing: .5rem; }
  .benefit-para-right {
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: 2rem;
    color: #858585;
    text-align: center;
    margin-bottom: 4rem;
    width: 100%;
    margin-left: 10rem; }
  .benefit-img-2 {
    width: 73rem;
    margin-left: 0rem;
    height: 35vh;
    margin-bottom: 2rem; }

.pricing {
  width: 100%;
  height: 115vh;
  background-image: url(../../img/pricing-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .pricing-main {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .pricing-main-h1 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 3rem;
      color: white;
      margin-bottom: 2rem; }
    .pricing-main-h2 {
      letter-spacing: .3rem;
      text-transform: uppercase;
      font-size: 8rem;
      font-weight: bold;
      color: white;
      margin-bottom: 2rem; }
  .pricing-box-1 {
    margin-top: 10rem;
    opacity: 0.8;
    transition: all .4s; }
    .pricing-box-1:hover {
      opacity: 1;
      transform: scale(1.09) skewX(5deg); }
  .pricing-box-2 {
    margin-top: 10rem;
    opacity: 0.8;
    transition: all .4s; }
    .pricing-box-2:hover {
      opacity: 1;
      transform: scale(1.09) skewX(-5deg); }
  .pricing-left {
    padding: 5rem;
    border: 1px solid #858585; }
    .pricing-left-h {
      letter-spacing: 1rem;
      text-align: center;
      font-size: 8rem;
      color: white; }
    .pricing-left-p {
      text-align: center;
      font-size: 4rem;
      color: white; }
  .pricing .ul-left {
    margin-top: 2rem;
    list-style: none; }
    .pricing .ul-left li {
      font-size: 2rem;
      color: #858585;
      margin-bottom: 2rem; }
      .pricing .ul-left li::before {
        content: "\2713";
        color: #ff400f;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-right: 2rem; }
  .pricing .ul-right {
    float: right;
    position: relative;
    top: -19rem;
    left: 14rem;
    list-style: none; }
    .pricing .ul-right li {
      font-size: 2rem;
      color: #858585;
      margin-bottom: 2rem;
      width: 60%; }
      .pricing .ul-right li::before {
        content: "\2713";
        color: yellow;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-right: 2rem; }
  .pricing-lowerbox {
    display: inline;
    padding: 2rem 3.4rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    position: relative;
    left: 41%;
    top: -1rem;
    transition: all .5s; }
    .pricing-lowerbox:hover {
      border-radius: 45px;
      box-shadow: 15px 10px 10px 5px #686868;
      background-color: #363636;
      color: #ff400f; }
  .pricing-upperbox {
    display: inline;
    padding: 2rem 3.4rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    border-radius: 45px;
    position: relative;
    left: 41%;
    top: 1rem;
    background-color: #ff400f;
    color: white;
    text-transform: capitalize; }
  .pricing .u {
    background-color: #b6b62d; }
  .pricing .l {
    top: 5.8rem;
    left: 35%; }

.review {
  width: 100%;
  height: 100vh;
  background-color: #1c1b22; }
  .review-img {
    width: 100%;
    height: 65vh;
    margin-top: 15rem;
    margin-left: -5rem; }
  .review-right-h {
    margin: 8rem 0 0rem -20rem;
    font-size: 8rem;
    color: white; }
  .review-right-p {
    letter-spacing: .105rem;
    word-spacing: 1rem;
    color: white;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
    .review-right-p::before {
      display: inline-block;
      content: '\201C';
      width: 1rem;
      color: #ff400f;
      font-size: 5rem; }
  .review-right-p2 {
    letter-spacing: .105rem;
    word-spacing: 1rem;
    color: white;
    font-size: 1.7rem;
    margin-bottom: 5rem; }
  .review-right-btn {
    color: #ff400f;
    font-size: 2.4rem;
    text-decoration: none;
    display: inline;
    transition: all .4s;
    padding: 1rem 2rem;
    opacity: .7;
    background-color: white; }
    .review-right-btn:hover {
      border-radius: 45px;
      box-shadow: 4px 10px 10px 3px grey;
      opacity: 1; }

.post {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative; }
  .post-main {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .post-main-h {
      font-size: 7rem;
      font-weight: lighter;
      color: black;
      margin-bottom: 3rem; }
    .post-main-btn {
      text-decoration: none;
      border-bottom: 2px solid #ff400f;
      color: #ff400f;
      font-size: 3rem;
      margin-bottom: 3rem; }
  .post-img {
    margin-top: 25rem;
    width: 100%;
    height: 40vh;
    filter: grayscale(1);
    transition: all .5s; }
    .post-img:hover {
      transform: scale(1.05);
      filter: saturate(1); }
  .post-heading {
    font-size: 4rem;
    text-align: center; }
  .post-para {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem; }
  .post-btn {
    margin-left: 17rem;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.9rem;
    color: #ff400f;
    border-radius: 45px;
    border: 1px solid #ff400f;
    text-decoration: none;
    transition: all .5s; }
    .post-btn:hover {
      box-shadow: 10px 20px 10px 5px #908ca3; }

.footer {
  width: 100%;
  height: 100vh;
  background-color: #1c1b22; }
  .footer .left > * {
    text-align: center; }
  .footer .left-heading {
    color: white;
    font-size: 8rem;
    margin-top: 15rem;
    margin-bottom: 6rem; }
  .footer .left-para-1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem; }
  .footer .left-para-2 {
    color: white;
    font-size: 3rem;
    padding-bottom: 15rem;
    border-bottom: 1px solid white; }
  .footer .left-para-3 {
    margin-top: 5rem;
    color: white;
    font-size: 2rem;
    text-align: center; }
  .footer .right-form {
    margin-top: 15rem; }
    .footer .right-form > * {
      margin-bottom: 5rem;
      border: none;
      border-bottom: 1px solid #858585;
      background-color: inherit;
      width: 90%;
      height: 5rem;
      transition: all .4s; }
      .footer .right-form > *:not(:last-child) {
        margin-bottom: 5rem; }
      .footer .right-form > *:last-child {
        height: 10rem; }
      .footer .right-form > *::placeholder {
        color: #858585;
        font-size: 1.6rem; }
      .footer .right-form > *:focus {
        outline: none;
        color: white;
        border-bottom: 2px solid #ff400f;
        font-size: 2rem; }
      .footer .right-form > *:invalid {
        border-bottom: 2px solid #858585; }
  .footer-btn {
    font-size: 3rem;
    color: #ff400f;
    padding: 2rem 3.5rem;
    background-color: inherit; }
